<MarketplaceDetails>
  <SmallAppTile>koalaquesticon2.png</SmallAppTile>
  <ScreenShots>koalascreen480x800.png;WGAScreen3.png;WGAScreen4.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>koalascreen768x1280.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>koalascreen720x1280.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>